# MongoDB Configuration
MONGO_USER=your_mongo_user
MONGO_PASSWORD=your_mongo_password
MONGO_HOST=cluster0.mongodb.net
MONGO_DBNAME=finance_db
MONGO_COLLECTION_NAME=stocks_data
MONGO_COLLECTION_NAME_CRYPTO=crypto_data
MONGO_APP_NAME=analyse_boursiere

# Logging
LOG_LEVEL=INFO

# yfinance
YFINANCE_TIMEOUT=30
YFINANCE_PERIOD=max

# Cache
USE_CACHE=True
CACHE_TTL_HOURS=24
